[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile
[submodule "themes/roxo"]
	path = themes/roxo
	url = git@github.com:StaticMania/portio-hugo.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
